.hero {
  position: relative;      
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;  
  align-items: center; 
  padding-bottom: 0;
  background: linear-gradient(0deg, var(--color-secundario), var(--color-primario));  
}

svg.onda {  
  height: 10vw; 
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;  
}

.ondaArriba {
  transform: scaleY(-1);  
  top: 59px;  
}

path {  
  fill: var(--color-primario);
  stroke: none;
}

.ondaAbajo {
  bottom: 0;
  opacity: 0.5;
}

.hero-contenido {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;     
  padding: 0 40px;
  text-align: center;  
}

.hero-h1,
.hero-h2,
.hero-parrafo,
.hero a {
  color: var(--texto-claro);
}

.hero-h1 {
  font-size: 3rem;  
  font-weight: 500;  
  padding: 5px;
  border-radius: 300px;
  margin-bottom: 1rem;  
}

.hero-h2 {
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.hero-parrafo {
  font-size: 1.5rem;
}

.hero-contactos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-contacto {
  text-transform: uppercase;
  padding: 0.75em 0;
  width: 210px;
  border-radius: 5px;
  border: 2px solid var(--texto-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: all 300ms linear;  
}

.hero-contacto:hover {
  transform: scale(1.1);
}

.logo-contacto {
  width: 2rem;
}

.hero-imagen img {
  max-width: 500px;
  width: 100%;
  opacity: 0.65;
}

@media (max-width: 1130px) {
  .hero-contenido {    
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

@media (max-width: 650px) {
  .hero-h1 {
    font-size: 1.5rem;      
  }
  
  .hero-h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .hero-parrafo {
    font-size: 1rem;
  }

  .hero-contactos {
   flex-wrap: wrap;
   margin-top: 1rem;
   gap: 0.5rem;
  }

  .hero-imagen img {
    max-width: 400px;    
  }
    
  .hero-contenido {    
    padding: 0 15px;
    gap: 10px;    
  }  
}

@media (max-width: 380px) {
  .hero-imagen img {
    max-width: 300px;    
  }
}