@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primario: rgb(34, 106, 184);  
  --color-secundario: rgb(238,150,201);
  --color-complementario: rgb(137, 215, 237);
  --color-claro: rgb(244,246,246);
  --texto-oscuro: rgb(20,20,20);
  --texto-claro: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;  
  color: var(--texto-claro);
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-secundario);
  display: inline-block;  
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

section {
  scroll-margin-top: 60px;
  padding-top: 58px;
  padding-bottom: 58px;
  overflow: hidden;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.oculto {
  filter: blur(5px);
  opacity: 0;
  transition: all 1s;
}

.mostrar {
  filter: blur(0);
  opacity: 1;
}

