.servicios {
  background-color: var(--color-complementario);
  height: 100vh;  
}

.servicios h2,
.servicios p {
  color: var(--texto-oscuro);
}

.servicios-imagen {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;  
}

.servicios-contenedor {  
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;  
}

.servicios-tarjetas {  
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;  
}

.servicios-tarjeta {    
  box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
  background-color: var(--color-claro); 
}

.servicios-tarjeta img {
  width: 350px;  
  margin: 0 auto;
  display: block;  
}

h3.tarjeta-titulo {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;  
  background-color: var(--color-primario);
  padding: 10px 0;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;  
}

.tarjeta-texto {
  line-height: 1.25;
  text-align: center;
  padding: 0.5rem;
}

@media (max-width: 1130px) {
  .servicios-tarjetas {    
    grid-template-columns: 350px;
    gap: 20px;  
    justify-content: center;
  }
  .servicios {    
    height: auto;  
  }
}